/*头部显示城市*/
#citybox{
	width: 1.0rem;
}
section{
	flex: 1;
	background: #fff;
	margin: 0.1rem 0.1rem 0 0.1rem;
	border-radius:0.1rem;
	height: auto;
	overflow-y: auto;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}
#map{
	flex: 1;
}
/*在地图下面显示具体的商家信息*/
#shop_show{
	width: 100%;
	height: 70%;
	border-radius: 5px 5px 0 0;
	border-top: 2px solid #55A532;
	/*display: none;*/
}
#shop_show #shop_name{
	height: 0.35rem;
	line-height: 0.35rem;
	color: #424542;
	font-size: 0.18rem;
	text-align: center;
	font-weight: bold;
	position: relative;
}
#shop_name #unfold{
	position: absolute;
	right: 0.16rem;
}
#shop_img{
	height: 2.0rem;
}
#shop_img img{
	height: 100%;
}
#textInfo{
	height: 60%;
}
#textInfo p{
	height: 0.31rem;
	flex-shrink: 1;
	/*line-height: 0.31rem;*/
}
#textInfo p span{
	padding: 0.13rem;
	width:0.60rem;
	display: inline-block;
	color: #737173;
}
#textInfo p b{
	font-size: 0.16rem;
	color: #4a494a;
	overflow: hidden;
}
#textInfo p:nth-child(2){
	flex-shrink: 0;
}
#textInfo p b:nth-child(2){
	width: 60%;
	height: 0.61rem;
	flex-shrink: 0;

}
#textInfo #score i{
	color:#ced7d6 ;
}
footer ul:nth-child(1) li a{
	color:#a2e34d;
}
