body,html,h1,h2,h3,h4,h5,h6,img,p,ul,li,form,input,dl,dd,dt{margin: 0;padding: 0;font-family: "微软雅黑";}
	body,html{height: 100%;}
	html{font-size: 100px;}
	html{background: #f8f3f7;}
	li{list-style: none;}
	img{border:none;}
	a{text-decoration: none;}
	.fl{
		float: left;
	}
	.fr{
		float: right;
	}
body{
	display: flex;
	flex-direction: column;
	font-size: 0.14rem;
	overflow: hidden;
	/*background: url(../img/bodybg.jpg) no-repeat;*/
	background-size: cover;
}
 #head{
	width: 100%;
	height: 0.62rem;
	color: white;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	line-height: 0.62rem;
}
#head h1{
	width:0.44rem ;
	height: 0.44rem;
	margin-left: 0.1rem;
	align-self: center;
}
#head h1 img{
	width: 0.4rem;
	height: 0.4rem;
}
#head p{
	width: 1.5rem;
	height: 100%;
}
#head p span{
	font-size: 0.25rem;
	font-weight: bolder;
}
section{
	width: 100%;
	flex: 1;
	display: flex;
	flex-direction: column;
}
.chart{
	width: 100%;
	height: 2.8rem;
}
#back{
	background: #000;
	opacity: 0.5;
	border-radius:0 0.36rem 0.36rem 0;
}
#back{
	width: 0.36rem;
	background: #000;
	opacity: 0.5;
	border-radius:0 0.36rem 0.36rem 0;
}
#echart{
	width: 0.36rem;
	background: #000;
	opacity: 0.4;
	border-radius:0.36rem  0 0 0.36rem;
}
